* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  padding-top: 30em;
  background-color: black;
}

.main-wrapper {
  width: 100%;
  position: absolute;
  top: 0;
}

.background-container {
  width: 100%;
  position: relative;
}

.slider{
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 30em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.active{
  visibility: visible;
  opacity: 1;
}

.slider1 {
  background-image: url(images/b3.jpg);
}

.slider2 {
  background-image: url(images/b2.jpg);
}

.slider3 {
  background-image: url(images/cnc13.jpg);
}

.slider4 {
  background-image: url(images/b5.jpg);
}

span{
  font-weight: bold;
  letter-spacing: 0.3em;
  font-size: 2rem;
  color: red;
}

.box-1 {
  border-radius: 0.3em;
  background: rgba(255, 255, 255, 0.2);
  padding: 1em;
  width: 100%;
  max-width: 1.8em;
  position: absolute;
  margin-top: 15em;
  left: 2%;
  cursor: pointer;
}

.prev {
  border: 3px #fff solid;
  width: 100%;
  max-width: 0.8em;
  min-height: 0.8em;
  transform: rotate(45deg);
  border-top: none;
  border-right: none;
  position: absolute;
  top: 30%;
  left: 40%;
}

.box-2 {
  border-radius: 0.3em;
  background: rgba(255, 255, 255, 0.2);
  padding: 1em;
  width: 100%;
  max-width: 1.8em;
  position: absolute;
  margin-top: 15em;
  right: 2%;
  cursor: pointer;
}

.next {
  border: 3px #fff solid;
  width: 100%;
  max-width: 0.8em;
  min-height: 0.8em;
  transform: rotate(45deg);
  border-bottom: none;
  border-left: none;
  position: absolute;
  top: 30%;
  right: 40%;
}
